<div class="text-center">
    <h3>Voitures</h3>
</div>
<br>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Immatriculation</th>
            <th>Modèle</th>
            <th>Mise en service le</th>
            <th>Motorisation</th>
            <th>Kilometrage</th>
            <th>Places</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let car of cars">
            <td class="align-middle">{{car.immatriculation | uppercase}}</td>
            <td class="align-middle">{{car.modele}}</td>
            <td class="align-middle">{{car.miseEnService}}</td>
            <td class="align-middle">{{car.motorisation}}</td>
            <td class="align-middle">{{car.kilometrage}}</td>
            <td class="align-middle">{{car.nbPlaces}}</td>
            <td>
                <a [routerLink]="['/car/edit', car.id]" class="mx-1"><button type="button" class="btn btn-outline-info">🖊</button></a>
                <a (click)="delete(car.id)" class="mx-1"><button type="button" class="btn btn-outline-danger">🗑</button></a>
            </td>
        </tr>
    </tbody>
</table>
<a routerLink="/car/new" class="btn btn-primary fixed-bottom-left">Nouvelle</a>
