<div class="text-center">
    <h3>Places de parking</h3>
</div>
<br>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Numéro</th>
            <th>Longueur</th>
            <th>Largeur</th>
            <th>Couverte</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let place of places">
            <td class="align-middle">{{place.numero}}</td>
            <td class="align-middle">{{place.longueur}}</td>
            <td class="align-middle">{{place.largeur}}</td>
            <td class="align-middle">{{place.couverte ? 'Oui' : 'Non'}}</td>
            <td>
                <a [routerLink]="['/place/edit', place.id]" class="mx-1"><button type="button" class="btn btn-outline-info">🖊</button></a>
                <a (click)="delete(place.id)" class="mx-1"><button type="button" class="btn btn-outline-danger">🗑</button></a>
            </td>
        </tr>
    </tbody>
</table>
<a routerLink="/place/new" class="btn btn-primary fixed-bottom-left">Nouvelle</a>