<div *ngIf="voiture != null" class="text-center">
    <h3>Modifier voiture</h3>
</div>
<div *ngIf="voiture == null" class="text-center">
    <h3>Créer voiture</h3>
</div>
<form [formGroup]="carForm" (ngSubmit)="submit()">
    <div class="form-row">
        <div class="form-group col-1 col-md-3"></div>
        <div class="form-group col-10 col-md-6">
            <label>
                Immatriculation
                <div *ngIf="submitted && f.immatriculation.errors" class="text-danger d-inline">
                    <div *ngIf="f.immatriculation.errors.required" class="d-inline"> (requis)</div>
                </div>
            </label>
            <input type="text" class="form-control" formControlName="immatriculation">
        </div>
        <div class="form-group col-1 col-md-3"></div>
        <div class="form-group col-1 col-md-2"></div>
        <div class="form-group col-5 col-md-4">
            <label>
                Modele
                <div *ngIf="submitted && f.modele.errors" class="text-danger d-inline">
                    <div *ngIf="f.modele.errors.required" class="d-inline"> (requis)</div>
                </div>
            </label>
            <input type="text" class="form-control" formControlName="modele">
        </div>
        <div class="form-group col-5 col-md-4">
            <label>
                Motorisation
                <!-- <div *ngIf="submitted && f.motorisation.errors" class="text-danger d-inline">
                    <div *ngIf="f.motorisation.errors.required" class="d-inline"> (requis)</div>
                </div> -->
            </label>
            <input type="text" class="form-control" formControlName="motorisation">
        </div>
        <div class="form-group col-4">
            <label>
                Nombre de places
                <div *ngIf="submitted && f.nbPlaces.errors" class="text-danger d-inline">
                    <div *ngIf="f.nbPlaces.errors.required" class="d-inline"> (requis)</div>
                </div>
            </label>
            <input type="number" class="form-control" formControlName="nbPlaces">
        </div>
        <div class="form-group col-4">
            <label>
                Kilometrage
                <!-- <div *ngIf="submitted && f.kilometrage.errors" class="text-danger d-inline">
                    <div *ngIf="f.kilometrage.errors.required" class="d-inline"> (requis)</div>
                </div> -->
            </label>
            <input type="number" class="form-control" formControlName="kilometrage">
        </div>
        <div class="form-group col-4">
            <label>
                Mise en service
                <div *ngIf="submitted && f.miseEnService.errors" class="text-danger d-inline">
                    <div *ngIf="f.miseEnService.errors.required" class="d-inline"> (requis)</div>
                </div>
            </label>
            <input type="date" class="form-control" formControlName="miseEnService">
        </div>
        <button type="submit" class="btn btn-primary">Valider</button>
    </div>
</form>
<!-- 
<pre>
    {{carForm.value | json}}
</pre> -->