.custom-checkbox + label::before{
    content:"";
    display:inline-block;
    width:12px;
    height:12px;
    background:#fff;
    border-radius:0px;
}
/* Base for label styling */
.custom-checkbox:not(:checked),
.custom-checkbox:checked {
	position: absolute;
	left: -9999px;
}
.custom-checkbox:not(:checked) + label,
.custom-checkbox:checked + label {
	position: relative;
	padding-left: 1.95em;
	cursor: pointer;
}
/* checkbox aspect */
.custom-checkbox:not(:checked) + label:before,
.custom-checkbox:checked + label:before {
	content: '';
	position: absolute;
	left: 0; top: 0.15em;
	width: 1.25em; height: 1.25em;
	border: 2px solid #ccc;
	background: #fff;
	border-radius: 4px;
	box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}
/* checked mark aspect */
.custom-checkbox:not(:checked) + label:after,
.custom-checkbox:checked + label:after {
	content: '\2713\0020';
	position: absolute;
	top: .25em; left: .15em;
	font-size: 1.2em;
	line-height: 0.8;
	color: #43435D;
	transition: all .2s;
	font-family: 'Lucida Sans Unicode', 'Arial Unicode MS', Arial;
}
/* checked mark aspect changes */
.custom-checkbox:not(:checked) + label:after {
	opacity: 0;
	transform: scale(0);
}
.custom-checkbox:checked + label:after {
	opacity: 1;
	transform: scale(1);
}
/* disabled checkbox */
.custom-checkbox:disabled:not(:checked) + label:before,
.custom-checkbox:disabled:checked + label:before {
	box-shadow: none;
	border-color: #bbb;
	background-color: #ddd;
}
.custom-checkbox:disabled:checked + label:after {
	color: #999;
}
.custom-checkbox:disabled + label {
	color: #aaa;
}
/* hover style just for information */
.custom-checkbox + label:hover:before {
	border: 2px solid #43435D!important;
}
/* Bouton d'ajout véhicule/réservation/utilisateur */
.fixed-bottom-left{
	position: fixed;
	bottom: 10px;
	left : 10px;
}