<div *ngIf="place != null" class="text-center">
    <h3>Modifier place</h3>
</div>
<div *ngIf="place == null" class="text-center">
    <h3>Créer place</h3>
</div>
<form [formGroup]="parkingForm" (ngSubmit)="submit()">
    <div class="form-row">
        <div class="form-group col-1 col-md-3"></div>
        <div class="form-group col-10 col-md-6">
            <label>
                Numéro :
                <div *ngIf="submitted && f.numero.errors" class="text-danger d-inline">
                    <div *ngIf="f.numero.errors.required" class="d-inline"> (requis)</div>
                </div>
            </label>
            <input type="number" class="form-control" formControlName="numero">
        </div>
        <div class="form-group col-1 col-md-3"></div>
        <div class="form-group col-12 text-center">
            <input type="checkbox" class="form-control custom-checkbox" formControlName="couverte" id="couverte">
            <label for="couverte">
                Couverte
                <div *ngIf="submitted && f.couverte.errors" class="text-danger d-inline">
                    <div *ngIf="f.couverte.errors.required" class="d-inline"> (requis)</div>
                </div>
            </label>
        </div>
        <div class="form-group col-1 col-md-2"></div>
        <div class="form-group col-5 col-md-4">
            <label>
                Longueur :
                <div *ngIf="submitted && f.longueur.errors" class="text-danger d-inline">
                    <div *ngIf="f.longueur.errors.required" class="d-inline"> (requis)</div>
                </div>
            </label>
            <input type="number" class="form-control" formControlName="longueur">
        </div>
        <div class="form-group col-5 col-md-4">
            <label>
                Largeur :
                <div *ngIf="submitted && f.largeur.errors" class="text-danger d-inline">
                    <div *ngIf="f.largeur.errors.required" class="d-inline"> (requis)</div>
                </div>
            </label>
            <input type="number" class="form-control" formControlName="largeur">
        </div>
        <div class="form-group col-1 col-md-2"></div>
        <button type="submit" class="btn btn-primary">Valider</button>
    </div>
</form>
<!-- 
<pre>
    {{parkingForm.value | json}}
</pre> -->