<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="margin-bottom:1%">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a routerLink="/places" class="nav-link h5">Places</a>
        </li>
        <li class="nav-item">
            <a routerLink="/cars" class="nav-link h5">Voitures</a>
        </li>
    </ul>
</nav>
<div id="app">
    <!-- Create our layout for the HTML -->
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <!-- <div class="col-6">
                <app-car-form>
                </app-car-form>
            </div>
            <div class="col-6">
                <app-parking-form>
                </app-parking-form>
            </div> -->
            <!-- <h1>Voitures : </h1>
            <div class="col-12">
                <app-car-show>
                </app-car-show>
            </div>
            <h1>Places : </h1>
            <div class="col-12">
                <app-parking-show>
                </app-parking-show>
            </div> -->
            <div class="col-12 overflow-auto mt-5">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>